@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.component-selected {
  @apply relative;
}
.component-selected::after {
  content: " ";
  @apply border-blue-500 border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
}

.color-picker div {
  background: none;
  box-shadow: none;
}

.input-border {
  border-radius: 0;
  border-color: #e5e7eb;
}
